* { margin: 0; padding: 0;}

#quote, #loading {
    width: 640px;
    margin: 20px auto;
    font-size: 1.4em;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.05), 0 8px 8px -5px rgba(0, 0, 0, 0.2);
    border-radius: 3px;
}

#quote {
    display: none;
}

#loading>div {
    padding-top: 40px;
    padding-bottom: 30px;
    text-align: center;
}

#quote header {
    padding: 10px 20px;
    overflow: hidden;
    background-color: #eee;
    font-family: Helvetica, sans-serif;
}

.author {
    float: left;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 75px;
    background-position: left center;
    background-repeat: no-repeat;
}

.author.bobuk {
    background-image: url('img/bobuk.png');
}

.author.umputun {
    background-image: url('img/umputun.png');
}

.author.gray {
    background-image: url('img/gray.png');
}

.author.ypp {
    background-image: url('img/ypp.png');
}

.author.ksenks {
    background-image: url('img/ksenks.png')
}

.text {
    line-height: 1.4em;
    padding: 20px;
    font-family: 'PT Serif';
}

.release {
    float: right;
    padding-top: 20px;
    padding-bottom: 20px;
}

.more {
    font-size: 1.4em;
    text-align: center;
}

.more span {
    display: inline-block;
    background-color: #fff;
    border: 1px solid #ccc;
    cursor: pointer;
    padding: 10px 30px;
    border-radius: 3px;
    transition: border-color 0.2s ease, box-shadow 0.2s ease;
    font-family: 'PT Serif';
}

.more span:hover {
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.05), 0 8px 8px -5px rgba(0, 0, 0, 0.2);
    border-color: #999;
    transition: border-color 0.2s ease, box-shadow 0.2s ease;
}

.more span.disabled {
    cursor: default;
    border: 1px solid #eee;
    color: #eee;
    box-shadow: none;
}

a[href] {
    color: #53AAFF;
}

footer {
    color: #999;
    font-size: 1em;
    width: 100%;
    text-align: center;
    position: absolute;
    bottom: 10px;
}

@media (max-width: 640px) {
    #quote, #loading {
        width: 90%;
        font-size: 1em;
    }

    .author, .release {
        display: block;
        float: none;
    }
    .author {
        font-size: 1.4em;
    }
    .release {
        padding-top: 10px;
        padding-bottom: 0px;
        text-align: center;
    }

    footer { display: none; }
}
